<%- include('./partials/header') %>
<a href="/cats/fact">Click here for a random CAT FACT!!!!!</a>
<a class="ten" href="/cats/factsx10">Click here for TEN CAT FACTS AT ONCE!</a>
<%- include('./partials/footer') %>
